


.site-header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
    justify-content: center;
    border-bottom: 1px solid #e5e7eb;
}

.site-header::after {
    position: absolute;
    bottom: -100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}