

.content-section {
    margin-left: 280px;
    min-height: calc(100vh - 50px);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

