

.content-section {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.doc-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}